name: Bump

permissions:
  contents: write

on: workflow_dispatch

jobs:
  build:
    name: version bump
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: nixbuild/nix-quick-install-action@v34

      - run: nix develop -c deno run -A jsr:@deno/bump-workspaces@^0.1/cli
        env:
          GITHUB_TOKEN: ${{ secrets.PULL_REQUEST_TOKEN }}
          GIT_USER_NAME: ${{ github.actor }}
          GIT_USER_EMAIL: ${{ github.actor}}@users.noreply.github.com
