name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: nixbuild/nix-quick-install-action@v34

      - run: nix develop -c deno task check
      - run: nix develop -c deno lint
      - run: |
          nix develop -c deno fmt
          git diff --exit-code

      - run: nix develop -c deno publish
